{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        },
        "writerOpts": {
          "commitsSort": ["subject", "scope"]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i '' -e \"1,/<Version>/ s!<Version>.*</Version>!<Version>${nextRelease.version}</Version>!\" Directory.Build.props"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["src/**.csproj"],
        "message": "chore(release): cut the ${nextRelease.version} release [skip ci]"
      }
    ],
    [
      "@semantic-release/github",
      {
        "labels": false,
        "releasedLabels": false,
        "failTitle": false,
        "failComment": false,
        "successComment": false
      }
    ]
  ],
  "branches": [
    {
      "name": "master"
    }
  ],
  "ci": true
}
